body{
	background-image: url("../images/stars.jpg");
}



.center{
    position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.centerX{
	left: 50%;
	transform: translate(-50%,-0%);
	-moz-transform: translate(-50%,-0%);
	-o-transform: translate(-50%,-0%);
	-ms-transform: translate(-50%,-0%);
	-webkit-transform: translate(-50%,-0%);
}
.centerY{
    position: relative !important;
	top: 50%;
	transform: translate(-0%,-50%);
	-moz-transform: translate(-0%,-50%);
	-o-transform: translate(-0%,-50%);
	-ms-transform: translate(-0%,-50%);
	-webkit-transform: translate(-0%,-50%);
}

.form-control, input[type="text"]{
	border: none !important;
	border-bottom:  1px solid #52FF8E !important;
	background-color: #2D2E2E !important;
	border-radius: 0px !important;
	color: #D5DBDA;
}
.glyphicon-plus{
	color: #42F5B6;
	font-size: 1.8em;
	cursor: pointer;
}
.header-message{
	color: #C4F5EB;
}
#playlistSuccessModal{
	height: 620px;
	top: 50%;
	margin-top: -310px;
}
div.section-container{
	position: relative;
	background-color: rgba(0,0,0,.8);
	background-color: #222422;
	width: inherit;
	min-height: 150px;
	padding: 20px;
	border: 1px solid #525252;
}
div.section-container-header{
	width: inherit !important;
	background-color:#2D302D;
	top: 0px;
	margin-top: -20px;
	margin-left: -20px;
	padding-bottom: 10px;

}
.music-container{
  width: 800px;
}
.title{
	font-family: 'Permanent Marker', cursive;
	color: white;
	position: absolute;
	top: 0px;
	left: 10px;
	font-size: 25px;
	font-weight: 700;
}

.navbar-custom{
	height: 50px !important;
	line-height: 50px;
	background-color: #202422 !important;
	border-bottom: 1px solid black;
}

.navbar-custom div, .navbar-custom ul, .navbar-custom div, .navbar-custom li, .navbar-custom a{
	height: inherit !important;
	background-color: inherit;
}
.navbar-custom a{
	margin-top: -10px;
}
.nav li:hover, .nav a:hover{
	background-color: transparent !important;

}